.block {
  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 20px;
    letter-spacing: 1.3px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
  }
}

.currencies {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  li {
    display: inline-flex;
    padding: 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    justify-content: center;
    flex: 1;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
      background-color: #007871;
      color: #fff;
    }

    &:last-of-type {
      display: inline-flex;
      align-items: center;
      flex: 0 0 50px;
      border-right: 0;
    }
  }
}
.select{
  border: none;
  background-color: #808080;
  padding: 20px 0;
  color: #fff;
}
